In [24]:
import sqlite3
from sqlite3 import Error

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

In [25]:
connection = create_connection("sm_app.sqlite")

Connection to SQLite DB successful

In [26]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [27]:
create_stations2_table = """
CREATE TABLE IF NOT EXISTS stations2 (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  latitude FLOAT NOT NULL,
  longitude FLOAT NOT NULL,
  Site TEXT NOT NULL);
"""

In [28]:
execute_query(connection, create_stations2_table)

Query executed successfully

In [29]:
create_YELP2_table = """
CREATE TABLE IF NOT EXISTS posts(
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  name TEXT NOT NULL, 
  Site TEXT NOT NULL,
  web TEXT NOT NULL,
  distance INTEGER NOT NULL,
  FOREIGN KEY (Site) REFERENCES stations2 (Site)
);
"""

In [30]:
execute_query(connection, create_YELP2_table)

Query executed successfully

In [31]:
create_Four2_table = """
CREATE TABLE IF NOT EXISTS posts(
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  name TEXT NOT NULL, 
  Site TEXT NOT NULL,
  web TEXT NOT NULL,
  distance INTEGER NOT NULL,
  FOREIGN KEY (Site) REFERENCES stations2 (Site)
);
"""

In [32]:
execute_query(connection, create_Four2_table)

Query executed successfully

In [33]:
create_stations2 = """
INSERT INTO
  stations2 (latitude, longitude, Site)
VALUES
  ('46.8731', '-96.78644' , 'YMCA'),
  ('46.90244', '-96.7978', 'Village'),
  ('46.8758', '-96.78567, 'Downtown'),
  ('46.87581','-96.78996' 40, 'Hall'),
"""

In [34]:
execute_query(connection, create_stations2_table)

Query executed successfully

In [35]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

In [38]:
select_stn = "SELECT * from stations2"
stations = execute_read_query(connection, select_stn)

for stn in stations:
    print(stn)