In [20]:
import requests
import os
import json
import pandas as pd

In [2]:
api_key = 'Bearer ' + os.environ['YELP']

In [3]:
url = 'https://api.yelp.com/v3/businesses/search'

In [16]:
params = {
  	"location": "Fargo",
  	"ll": "46.87310,-96.78644",
  	"term": "Restaurants",
    "radius": "4000",
    "locale":"en_US"
    
}

headers = {
    "Accept": "application/json",
    "Authorization": api_key
}

In [5]:
response = requests.request("GET", url, params =params, headers=headers)

print(response.text)

{"businesses": [{"id": "RCWAP_hvs4mUkERacEBiVg", "alias": "circle-w-fargo", "name": "Circle W", "image_url": "", "is_closed": false, "url": "https://www.yelp.com/biz/circle-w-fargo?adjust_creative=J5h1CC8CMU8IXoLGgPFmjA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=J5h1CC8CMU8IXoLGgPFmjA", "review_count": 0, "categories": [{"alias": "hotdogs", "title": "Fast Food"}], "rating": 0.0, "coordinates": {"latitude": 36.4514007568359, "longitude": -99.7020797729492}, "transactions": [], "location": {"address1": "S Of City", "address2": null, "address3": null, "city": "Fargo", "zip_code": "73840", "country": "US", "state": "OK", "display_address": ["S Of City", "Fargo, OK 73840"]}, "phone": "+15806982660", "display_phone": "(580) 698-2660", "distance": 72.97664902263541}], "total": 1, "region": {"center": {"longitude": -99.62325096130371, "latitude": 36.3756159312327}}}

In [6]:
response

In [7]:
json_object = json.dumps(response.json(), indent=4)
 
with open("YRsample.json", "w") as outfile:
    outfile.write(json_object)

In [8]:
with open('YRsample.json', 'r') as f:
  data = json.load(f)

In [9]:
data.keys()

dict_keys(['businesses', 'total', 'region'])

In [17]:
data1 = data['businesses']

In [11]:
pd.json_normalize(data1)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,...,coordinates.latitude,coordinates.longitude,location.address1,location.address2,location.address3,location.city,location.zip_code,location.country,location.state,location.display_address
0,RCWAP_hvs4mUkERacEBiVg,circle-w-fargo,Circle W,,False,https://www.yelp.com/biz/circle-w-fargo?adjust...,0,"[{'alias': 'hotdogs', 'title': 'Fast Food'}]",0.0,[],...,36.451401,-99.70208,S Of City,None,None,Fargo,73840,US,OK,"[S Of City, Fargo, OK 73840]"

In [18]:
df = pd.DataFrame(data1)

In [19]:
YR_YMCA = df.filter(['name'])
YR_YMCA

       name
0  Circle W

In [14]:
YR_YMCA.to_csv('YRYMCA.csv')