In [1]:
import requests
import os
import json
import pandas as pd

In [2]:
api_key = 'Bearer ' + os.environ['YELP']

In [3]:
url = 'https://api.yelp.com/v3/businesses/search'

In [4]:
params = {
  	"location": "Fargo",
  	"ll": "46.87310,-96.78644",
  	"term": "Shopping Mall",
    "radius": "4000",
    "locale":"en_US"
    
}

headers = {
    "Accept": "application/json",
    "Authorization": api_key
}

In [5]:
response = requests.request("GET", url, params =params, headers=headers)

print(response.text)

{"businesses": [{"id": "Pc-Ew0X7Qdd1wV9KkB1QYA", "alias": "dollar-general-fargo", "name": "Dollar General", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/i-2O9rqFST7bPvBOlh0mng/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/dollar-general-fargo?adjust_creative=J5h1CC8CMU8IXoLGgPFmjA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=J5h1CC8CMU8IXoLGgPFmjA", "review_count": 1, "categories": [{"alias": "grocery", "title": "Grocery"}, {"alias": "discountstore", "title": "Discount Store"}], "rating": 5.0, "coordinates": {"latitude": 30.684826672730363, "longitude": -82.56220282561668}, "transactions": [], "location": {"address1": "31 Ga Highway 94", "address2": "", "address3": null, "city": "Fargo", "zip_code": "31631", "country": "US", "state": "GA", "display_address": ["31 Ga Highway 94", "Fargo, GA 31631"]}, "phone": "+19123582912", "display_phone": "(912) 358-2912", "distance": 993.9616526868808}], "total": 1, "region": {"center": {"longitude": -82.57186889648438, "latitude": 30.688113875374643}}}

In [6]:
response

In [7]:
json_object = json.dumps(response.json(), indent=4)
 
with open("YRsample.json", "w") as outfile:
    outfile.write(json_object)

In [8]:
with open('YRsample.json', 'r') as f:
  data = json.load(f)

In [9]:
data.keys()

dict_keys(['businesses', 'total', 'region'])

In [10]:
data1 = data['businesses']

In [11]:
pd.json_normalize(data1)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,...,coordinates.latitude,coordinates.longitude,location.address1,location.address2,location.address3,location.city,location.zip_code,location.country,location.state,location.display_address
0,Pc-Ew0X7Qdd1wV9KkB1QYA,dollar-general-fargo,Dollar General,https://s3-media3.fl.yelpcdn.com/bphoto/i-2O9r...,False,https://www.yelp.com/biz/dollar-general-fargo?...,1,"[{'alias': 'grocery', 'title': 'Grocery'}, {'a...",5.0,[],...,30.684827,-82.562203,31 Ga Highway 94,,None,Fargo,31631,US,GA,"[31 Ga Highway 94, Fargo, GA 31631]"

In [12]:
df = pd.DataFrame(data1)

In [13]:
YS_YMCA = df.filter(['name'])
YS_YMCA

             name
0  Dollar General

In [14]:
YS_YMCA.to_csv('YSYMCA.csv')